extends layout/base.pug

block content
    h1 Bienvenu chez Backery ! 
    h2 Tu veux tenter ta chance au Game Yams ? C'est par ici ...
    form.ui.large.form(method="post", action="/")
        button(type="submit") Lancer les dés
    
    if (dices)
        h3 test
        each val in dices
            p= val


    script
        | let array = []
        | console.log(array)